.login-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input, .login-form button {
    padding: 10px;
    font-size: 18px;
}