/* --primary-100:#1F3A5F;
--primary-200:#4d648d;
--primary-300:#acc2ef;
--accent-100:#3D5A80;
--accent-200:#cee8ff;
--text-100:#FFFFFF;
--text-200:#e0e0e0;
--bg-100:#0F1C2E;
--bg-200:#1f2b3e;
--bg-300:#374357;
   */

   .game-page {
     position: relative;
     background-color: transparent;
     margin-bottom: 10px;
     overflow: hidden; 
     z-index: 2;
    }
    .game-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
    .container {
    display: flex;
  }
  .left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .game-description {
    flex: 3; 
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #292b2c;
    text-align: justify;
    -webkit-text-fill-color: #FFFFFF;
    padding: 10px 15px 10px 15px;
  }
  .game-stats {
    width: 256px; 
    height: 512px;
    border-radius: 20px;
    background: #292b2c;
    -webkit-text-fill-color: #FFFFFF;
    padding: 10px 15px 10px 15px;
  }
  .bottom-container {
    display: flex;
    align-items: center;
  }
  .game-input {
    height: 100%;
    width: 100%;
    padding: 10px;
    background: #292b2c;
    border-radius: 20px;
    margin-right: 10px
  }
  .game-input input {
    width: 100%;  
    height: 100%;
    box-sizing: border-box; 
    border-radius: 47px;    
    padding: 12px;          
  }
  .game-photo img {
    width: 256px;
    height: 256px;
    margin-right: 10px;
    border-radius: 20px;
  }
  .photo {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-left: 20px;
  }
  
