.new-game-page {
    height: 100vh;
}

.create-game-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-setting {
    font-size: 18px;
    height: 15px;
}
.create-game-input {
    height: 40px;
    width: 20%;
    background: #f6f6f7;
    border-radius: 20px;
    margin-bottom: 15px;
    
  }
.create-game-input input {
    width: 100%;  
    height: 40px;
    box-sizing: border-box; 
    border-radius: 47px;    
    padding: 12px;    
    text-align: center;       
  }
.create-game-button {
    width: auto; 
    height: 40px;
    background: #000000;
    font-size: 18px;
    color: #ffffff; 
    cursor: pointer;
    border-radius: 10px;
    border: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s; 
    padding: 0 12px;

  }
  
.create-game-button:hover {
    background: #1c1e1f; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-color: #505050;
}




.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.question-mark-icon {
  width: 20px;
  cursor: help;
}

.tooltip-text {
  visibility: hidden;
  width: 300px; 
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  
  ::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
  }
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
